/* Desktop 1440px */
@media (max-width: 91em) {
  .section-footer {
    background-image: linear-gradient(
        rgba(77, 151, 169, 0.856),
        rgba(77, 151, 169, 0.856)
      ),
      url("../assets/desktop/image-footer.jpg");
    background-size: cover;
    background-position: center;
  }
}

/* Tablet 768px */

@media (max-width: 49em) {
  /* INTRO SEC */
  .section-intro {
    grid-template-columns: 1fr 1fr;
  }

  .intro-text {
    grid-column: 3/1;
  }

  .img-right {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .intro-number {
    grid-column: 1/3;
  }

  /* FOOTER SEC */
  .section-footer {
    flex-direction: column;
    gap: 1.4rem;
  }

  .footer-secondary {
    text-align: center;
    width: 100%;
  }

  .footer-text {
    width: 100%;
    text-align: center;
  }
}

/* 375px */
@media (max-width: 24em) {
  html {
    font-size: 50%;
  }
  /* INTRO SEC */
}
