:root {
  --head-clr: #28283d;
  --par-clr: #87879d;
  --bg-clr: #fafafa;
  --btn-cl-blu: #4d96a9;
  --blue-text: #8fe3f9;
  --btn-cl-blue-hv1: #71c0d4;
  --btn-cl-pr: #855fb1;
  --btn-cl-pr-hv: #b18bdd;
  --border-clr: #dbdbe2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--bg-clr);
}

h1 {
  font-size: 6.4rem;
}

/* HEADER */
header {
  text-align: center;
}

.icon {
  margin-top: 2.8rem;
  margin-bottom: 6.1rem;
}

/* INTRO SECTION */
.section-intro {
  display: grid;
  grid-template-columns: 30fr 40fr 30fr;
  gap: 3rem;
  overflow: hidden;
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.intro-heading {
  color: var(--head-clr);
  text-align: center;
  font-size: 6.4rem;
  line-height: 1.1;
  width: 75%;
  align-self: center;
}

.intro-par {
  text-align: center;
  color: var(--par-clr);
  font-size: 1.8rem;
}

.intro-btns {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.btn-dwn-intro,
.btn-desc {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
  border-radius: 2.9rem;
  border: none;
}

.btn-dwn-intro {
  background-color: var(--btn-cl-blu);
  color: var(--bg-clr);
}
.btn-dwn-intro:hover {
  background-color: var(--btn-cl-blue-hv1);
  cursor: pointer;
}

.version-text {
  color: var(--blue-text);
}

.btn-desc {
  background-color: var(--btn-cl-pr);
  color: var(--bg-clr);
}

.btn-desc:hover {
  background-color: var(--btn-cl-pr-hv);
  cursor: pointer;
}

.img-right {
  align-self: center;
  justify-self: center;
}

.img-left {
  justify-self: center;
}

.number-1 {
  text-align: center;
}

.number-first {
  border-radius: 50%;
  background-color: var(--bg-clr);
  color: var(--par-clr);
  border: 1px solid var(--border-clr);
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "Red Hat Display", sans-serif;

  width: 5.6rem;
  height: 5.6rem;

  /* padding: ; */
}
/* IMAGES SECTION */

/* DESCRIPTION SECTION */

/* FOOTER SECTION */
