:root {
  --head-clr: #28283d;
  --par-clr: #87879d;
  --bg-clr: #fafafa;
  --btn-cl-blu: #4d96a9;
  --btn-cl-blu-hv: #8fe3f9;
  --btn-cl-pr: #855fb1;
  --btn-cl-pr-hv: #d988ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--bg-clr);
}

h1 {
  font-size: 6.4rem;
}

/* HEADER */
header {
  text-align: center;
}

.icon {
  margin-top: 2.8rem;
}

/* INTRO SECTION */
.section-intro {
  display: flex;
}

/* IMAGES SECTION */

/* DESCRIPTION SECTION */

/* FOOTER SECTION */
